<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <div class="row">
                <a href="@Url.Action("Homepage", "Home")" class="col-md-1">
                    @*logo*@
                    <img src="~/Content/Home/logo.png" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
                </a>
                <div class="col-md-11">
                    <p class="h3" style="margin-top: 6px; margin-left: 10px;">The Beauty and Joy of Computing</p>
                </div>
            </div>
        </div>
        @*search bar*@
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-right: 20px !important;">
            @*at some point this link will need to become "sign out"*@
            <a href="@Url.Action("Signin", "Home")" style="color: #0C2340; text-decoration:none;">Sign In</a>
            <a href="@Url.Action("StudentProfile", "Home")">
                <img src="~/Content/Home/anon.png" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy" style="margin-left: 5px;">
            </a>
        </form>
    </nav>
    @*<div class="container body-content">*@
        @RenderBody()
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
